[Desktop Entry]
Type=Application
Name=Cast Pro
GenericName=Presentation Camera
Comment=Share your screen and camera, record, and stream
Exec=cast-pro-app
Icon=cast-pro
Terminal=false
Categories=AudioVideo;Video;Recorder;
Keywords=screen;camera;record;stream;presentation;
StartupWMClass=CastProPanel
