[Desktop Entry]
Type=Application
Name=Cast
GenericName=Presentation Camera
Comment=Share your screen and camera, record, and stream
Exec=cast-app
Icon=cast
Terminal=false
Categories=AudioVideo;Video;Recorder;
Keywords=screen;camera;record;stream;presentation;
StartupWMClass=CastPanel
